Source: python-adventure
Maintainer: Ben Finney <ben+debian@benfinney.id.au>
Section: games
Priority: optional
Standards-Version: 3.9.8
Build-Depends:
    python3-setuptools,
    python3,
    dh-python,
    debhelper (>= 9~)
Homepage: https://pypi.python.org/pypi/adventure/
VCS-Git: https://anonscm.debian.org/git/collab-maint/python-adventure.git
VCS-Browser: https://anonscm.debian.org/git/collab-maint/python-adventure.git
X-Python3-Version: >= 3.2

Package: colossal-cave-adventure
Architecture: all
Depends:
    python3-pkg-resources,
    python3,
    ${python3:Depends},
    ${misc:Depends}
Provides: adventure
Description: Colossal Cave Adventure game
 Explore Colossal Cave, where others have found fortunes in treasure and
 gold, though it is rumored that some who enter are never seen again.
 .
 Colossal Cave Adventure (originally named “ADVENT” or “Adventure”) is
 the seminal text adventure game, written by Will Crowther and Don
 Woods.
 .
 This is a re-implementation of the “350-point” version, using the
 same game content from the PDP-10 source code of the late 1970s.
 .
 It uses the original text exactly, and emits responses slow enough to
 read as the contemporary terminal interfaces did.
